<div class="container">
<div class="nav-bar">
  <nav>
    <ul>
      <li>
        <a routerLink = '/'>Home Page</a>
      </li>
      <li>
        <a routerLink = '/promises'>Promises?</a>
      </li>
      <li>
        <a routerLink = '/callbacks'>Callbacks</a>
      </li>
      <li>
        <a routerLink = '/map'>Map Higher Level</a>
      </li>
      <li>
        <a routerLink = '/creator'>Creator</a>
      </li>
      <li>
        <a routerLink = '/main'>Main Page</a>
      </li>
    </ul>
  </nav>
</div>

<div class="content">
  <h1>
    JAVASCRIPT FUN FACTS
  </h1>
</div>
</div>


<router-outlet></router-outlet>